body {
    background: red;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.result {
    font-size: 4em;
}

.result-container {
    width: 100%;
    justify-content: center;
}

.player-info-container {
    width: 100%;
    justify-content: space-evenly;
}

.player-info {
    font-size: 2em;
}